[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PublicationBias"]
	path = PublicationBias
	url = https://github.com/mathurlabstanford/publicationbias
[submodule "metabias"]
	path = metabias
	url = https://github.com/mathurlabstanford/metabias
[submodule "phacking"]
	path = phacking
	url = https://github.com/mathurlabstanford/phacking
